
.card{

    align-items: center;
}

.card-body{

text-align: center;
width: 100%;
height: 400px;
 padding:25px 15px 0 15px !important;

}

.contenedor__tarjeta1{

width: 25%;
margin: 0 30px;
}


.contenedor__tarjeta1  , .contenedor__tarjeta2 {
    h5{

    font-family: $raleway;
    text-align: left;
    
    }

 
}



// .contenedor__tarjeta1 ,.contenedor__tarjeta2 {


//     p{
//     font-family: $raleway;
//     font-weight: bold;
//     font-size:$xxxx-large ;

//     }
 
// }

.card-text{

font-family: $raleway;
    font-weight: bold;
    
}

.contenedor__tarjeta2{

    width: 25%;
    margin: 0 30px;
}


ol, ul, dl {
   
    text-align: left;
    padding-left: 20px;

}


// resolucion para tablets

@media (max-width:768px){


    .contenedor__tarjeta1 ,.contenedor__tarjeta2 {

            margin-bottom: 30px;
            width: 40%;
            }

         
}



// resolucion para moviles

@media (max-width:360px){

    .contenedor__tarjeta1 , .contenedor__tarjeta2{

    margin-bottom: 30px;
    width: 80%;
    }



    .contenedor__tarjeta1 ,.contenedor__tarjeta2 {


        p{
        font-family: $raleway;
        font-weight: bold;
        font-size:$xxx-large ;

        }
    
    }


    .precios h2{

        padding-top: 20%;
    }

}





