//colores//

// primeros
$white:#FFF;
$platinum:#E8E8E8;
$gray:#BABABA;

// segundos
$dsalmon:#EE9480;
$melon:#F4BAAE;
$ppink:#FADFDA;

// terceros
$bblue:#2AB7CA;
$mblue:#77D1DD;
$blagoon:#B1E4EB;

//cuartos
$onyx:#333745;
$sgray:#8F9199;
$lgray:#C7C8CC;

//quintos
$rblack:#221D23;
$nickel:#726F73;
$schalice:#AEACAF;







