//colores//


$white:#FFF;
$platinum:#E8E8E8;
$gray:#BABABA;


$dsalmon:#EE9480;
$melon:#F4BAAE;
$ppink:#FADFDA;


$bblue:#2AB7CA;
$mblue:#77D1DD;
$blagoon:#B1E4EB;


$onyx:#333745;
$sgray:#8F9199;
$lgray:#C7C8CC;


$rblack:#221D23;
$nickel:#726F73;
$schalice:#AEACAF;







