.footer{

    background:$rblack;
    height: 150px;
    color: $white;
    
}

.footer__legal{

display: flex;
align-items: center;
justify-content: space-evenly;
}

.footer__spa{

display: flex;
justify-content: center;
align-items: center;
justify-content: end;
}


//resolucion moviles

@media (max-width:360px){
.footer__spa{

justify-content:center;
}

.footer__legal{

align-items: end;

}

.footer{

margin-top: 78%;
}



}